/* Write your CSS here */

.prime-video-container {
  min-height: 100vh;
  padding-bottom: 32px;
  background-color: #222222;
}

.card-container {
  width: 90%;
  margin: auto;
  margin-bottom: 32px;
}

.prime-image {
  width: 100%;
}

.movie-type-heading {
  align-self: flex-start;
  color: #ffff;
  font-weight: 500;
  font-family: 'Roboto';
}
